* {
  margin: 0;
}

html {
    scroll-behavior: smooth;

}

body {
  background-color: #706666;
}

@font-face {
  font-family: "aku__kamuregular";
  src: url("https://cdn.glitch.global/11f41e57-8711-4a97-bd2d-bb82681468b6/akukamu-webfont.woff2?v=1643513869568")
      format("woff2"),
    url("https://cdn.glitch.global/11f41e57-8711-4a97-bd2d-bb82681468b6/akukamu-webfont.woff?v=1643513869535")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "aku__kamuregular";
  color: white;
}

p {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 1vw;
}

img {
  z-index: 200;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: gray;
  transition: 0.12s linear;
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  cursor: pointer;
  transform: scale(1.02) rotate(-2deg);
  transition: 0.12s linear;
}

.img-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vw;
}

.condensed-text {
  margin-left: 5vw;
  margin-right: 5vw;
}

.right {
  text-align: right;
}

.menu {
  margin-left: 10vw;
    margin-top: 5vw;
}
.links {
  font-family: "Roboto Mono", monospace;
  color: rgb(23, 36, 151);
  font-size: 1.6vw;
  margin-right: 2vw;
}

#top-div {
  padding: 10vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
    display: flex;
  flex-direction: row;
    align-items: center;

}

#who-we-are-div {
  background-color: #5aaad1;
  padding: 10vw;
  padding-top: 7vw;
  padding-bottom: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#events-div {
  padding: 10vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#more-events-div {
  padding: 10vw;
  padding-top: 0vw;
  padding-bottom: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#faq-div {
  background-color: #5aaad1;
  padding: 10vw;
  padding-top: 7vw;
  padding-bottom: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#apply-div {
  /*   background-color: #151515; */
  padding: 10vw;
  padding-top: 15vw;
  padding-bottom: 15vw;
  display: flex;
  /*   justify-content: center; */
  /*   align-items: center;  */
  flex-direction: row;
}

#bottom-div {
  background-color: #5aaad1;
  padding: 10vw;
  padding-top: 7vw;
  padding-bottom: 7vw;
  display: flex;
/*   justify-content: center; */
  align-items: center;
}

#corevo {
  width: 20vw;
  position:absolute;
  z-index: 200;
  margin-left: 67vw;
  margin-top: 14vw;
}

#star {
  position: absolute;
  z-index: 100;
  left: 32vw;
  margin-top: 6vw;
  width: 15vw;
}

#star:hover {
  transform: scale(1) rotate(0deg);
}

#star2 {
  position: absolute;
  z-index: 100;
  left: 32vw;
  margin-top: 6vw;
  width: 50vw;
}

#star2:hover {
  transform: scale(1) rotate(0deg);
}

#star3 {
  position: absolute;
  z-index: 100;
  left: 50vw;
  margin-top: 16vw;
  width: 34vw;
}

#star3:hover {
  transform: scale(1) rotate(0deg);
}

#line {
  position: absolute;
  width: 0.87vw;
  z-index: 100;
  margin-top: 6.5vw;
}

#line:hover {
  transform: scale(1) rotate(0deg);
}

#grid {
  width: 24vw;
  position: absolute;
  margin-left: 62vw;
  margin-top: 8vw;
  z-index: 100;
}

#grid:hover {
  transform: scale(1) rotate(0deg);
}

#grid2 {
  width: 24vw;
  position: absolute;
  margin-left: 32vw;
  margin-top: 4vw;
  z-index: 100;
}

#grid2:hover {
  transform: scale(1) rotate(0deg);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}

@-webkit-keyframes rotating2 /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotating2 {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.rotating2 {
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}

/* #image1 {
 visibility: hidden;
  width: 250px;
}

#image2 {
  visibility: hidden;
  margin-top: 50px;
}

#image3 {
  visibility: hidden;
  margin-bottom: 20px;
  width: 250px;
}

#image4 {
  visibility: hidden;
  margin-top: 160px;
  left: 20px;
}

#image5 {
  visibility: hidden;
  width: 250px;
  margin-top: 60px;
  margin-left: 20px;
  left: 80px;
}

.world-img {
  position: absolute;
} */

.stack-img {
  position: absolute;
  /*   visibility: hidden; */
}

#stack {
  display: flex;
  justify-content: center;
  align-items: center;

  /*   margin-left: 60vw; */
}

a {
   color: #2B6AA3;
   text-decoration: none;
   transition: all 0.3s linear;
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s linear;
}

a:hover {
   color: #3B8AD3;
/*    padding-left: 10px; */
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .horizontal {
    width: 50vw;
  }
   .vertical {
    width: 30vw;
  }
  
  p {
    font-size: 1.6vw;
  }
  
  .gif {
    width: 26vw;
  }
}

.title {
  font-size: 2.4vw"
}
