html, body {
    margin: 0;
    font-family: "Roboto Mono";
}
#content {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
}
#content > .container {
    margin: auto;
    display: flex;
}
#content > .container > div:first-child {
    min-width: 15rem;
}
#content > .container > div:first-child img:first-child {
    width: 100%;
    animation: alternate infinite ease-in-out bounce 2s;
    filter: drop-shadow(-13px 0px 0.3rem #000);
    left: 5px;
}
#content > .container > div:first-child img {
    animation: alternate infinite ease-in-out bounce 2s;
    max-width: 45rem;
    top: -2rem;
}

#content > .container > div:nth-child(2) {
    box-shadow: -16px 12px 20px 0;
    padding: 2rem;
    margin-left: 0px;
}


@keyframes bounce {
    from {transform: translateY(-0.25rem);}
    to {transform: translateY(0.25rem);}
}